body {
  margin: 0px;
  font-family: 'Black Han Sans', sans-serif;
  min-width: 1480px;
  background-color: #f9f9f9;
}
#wrap {
    width: 100%;
}
#header {
    width: 100%;
    height: 140px;
    background-color: #2e3459;
    position: relative;
    font-size: 0px;
}
.top {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
.site_name {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    color: #2e3459;
}
.logo_area {
    display: inline-block;
    width: calc(100% - 470px);
    height: 70px;
    background-color: #FFFFFF;
    text-indent: 40px;
}
.logo_photo {
    height: 35px;
    margin-top: 18px;
}
.btns {
    display: inline-block;
    vertical-align: top;
    position:relative;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
#bookmarkPhoto, #notificationPhoto {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#profilePhoto {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 15px;
    cursor: pointer;
}
#notificationPhoto {
    margin-left: 200px;
}
input[type='text']:focus, input[type='password']:focus{
    outline-color: #fcba03;
}
.banner {
    width: 100%;
    height: 70px;
}
.menu {
    position: absolute;
    height: 70px;
    left: 20px;
}
.menu ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-right: 100px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}
.menu ul li:hover {
    color: #fcba03;
}
.menu ul li a {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: white;
}
#admin{
    display:none;
}
.search {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 250px;
    height: 29px;
}
.filter {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 100px;
    height: 35px;
}
.search_icon {
    float: right;
    margin: 17px 20px 13px 0px;
    width: 40px;
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0px auto;
    text-align: center;
}
#footer {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #2e3459;
    color: #FFFFFF;
    font-size: 15px;
}
#footer p {
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 250px;
    width: 600px;
    height: 80px;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    margin-top: 72px;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
.btns ul li {
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.btns>ul>li {
    margin-right: 10px;
}
#notificationWrap{
    width: 650px;
    margin: 50px auto;
}
#notificationWrap thead th{
    text-align: center;
}
#notificationWrap table{
    border-collapse: collapse;
}

#notificationWrap table tr th:first-child{
    text-align: center;
}

#notificationWrap tbody tr th{
    text-align: left;
}

#notificationWrap tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notificationWrap tfoot tr{
    background-color: #48486a;
    color: white;
}

#notificationWrap tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notificationWrap tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notificationWrap table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notificationWrap table tr th span:hover{
    color: blue;
}
.popup {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
    cursor:pointer;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
