/* #fcba03 노랑
#2e3459 남색
#f37321 주황
#294a37 초록
*/

body {
margin: 0px;
font-size: 0px;
font-family: 'Black Han Sans', sans-serif;
min-width: 1480px;
}

/* 여기서부터 헤더 레이아웃 */
#wrap {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

#header {
    width: 100%;
    height: 140px;
    background-color: #2e3459;
    position: relative;
}

.top {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}

.site_name {
    display: inline-block;
    vertical-align: top;
    position: absolute; /* 추가하기 */
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    color: #2e3459;
}

.btns ul li {
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.btns>ul>li {
    margin-right: 10px;
}

.logo_area {
    display: inline-block;
    width: calc(100% - 470px);
    height: 70px;
    background-color: #FFFFFF;
    text-indent: 40px;
}

.logo_photo {
    height: 35px;
    margin-top: 18px;
}
.btns { /* .logins와 연동  */
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
    vertical-align: top;
}
#bookmarkPhoto, #notificationPhoto {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#notificationPhoto{
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}
#notificationTxt{
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 190px;
    border-radius: 50%;
    color: white;
}
#profilePhoto{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50%;
}
#notificationPhoto {
    margin-left: 200px;
}
.banner {
    width: 100%;
    height: 70px;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
    z-index: 300;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
.menu {
    position: absolute;
    height: 70px;
    left: 20px;
}
.menu ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-right: 100px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}

.menu ul li:hover {
    color: #fcba03;
}

.menu ul li a {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: white;
}

.search {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 250px;
    height: 29px;
}

.filter {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 100px;
    height: 35px;
}

.search_icon {
    float: right;
    margin: 17px 20px 13px 0px;
    width: 40px;
    cursor: pointer;
}

input[type='text']:focus, input[type='password']:focus, select:focus {
    outline-color: #fcba03;
}

input[type='checkbox'] {
    margin: 10px 10px 0 310px;
    width: 20px;
    height: 20px;
}
/* 여기까지 헤더 레이아웃 !!! */
#container {
    display: block;
    width: 1280px;
    margin: 0 auto;
}

.sub_profile {
    z-index: 100;
    width: 100%;
    height: 300px;
    background-color: #fcba03;
}

.info {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 23pt;
    font-weight: bold;
    color: #2e3459;
}

.info img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.info>span {
    font-size: 12pt;
}

.board_menu {
    width: 100%;
    height: 135px;
    margin-top: 10px;
    border-bottom: 2px solid #2e3459;
}

.menu_nav {
    text-align: center;
    height: 50px;
    display: block;
    margin-top: 30px;
}

.menu_nav ul li {
    height: 100px;
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    margin-left: 140px;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.menu_nav ul li  {
    display: inline-block;
    height: 50px;
    text-decoration: none;
    color: #2e3459;
}
.menu_nav ul li:hover img, .menu_nav ul li.on img {
    background-color: #f37321;
}

.menu_nav ul li img {
    margin: 10px 20px 0px 20px;
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: #2e3459;
    border-radius: 100px;
    cursor: pointer;
}

#left_group {
    display: inline-block;
    position: relative;
    height: 100%;
    padding: 0 0 0 50px;
}

#left_group li {
    margin: 0px;
}

#left_group img {
    margin-left: 0;
    margin-right: 0;
}

.right_group {
    padding-left: 0;
    display: inline-block;
    width: 58%;
    height: 100%;
}

.right_group li:nth-child(3) img{
    background-color: #f37321;
}

.board_list_wrap {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_list {
    border-top: 2px solid #2e3459;
}

#path_info {
    width: calc(100% - 20px);
    height: 35px;
    font-size: 10pt;
    padding-top: 10px;
    padding-left: 20px;
}

#path_info {
    text-decoration: none;
    color: black;
}

.home_icon {
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
}

.follow_btn_list {
    margin: 0 90px 20px 1070px;
    float: right;
}

.follow_btn_list div span {
    font-size: 18pt;
}

.edit_btn {
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #2e3459;
    background-color: white;
    border: 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.edit_btn span {
    padding-left: 2px;
}

.edit_btn:hover {
    border: 2px solid #2e3459;
    background-color: #2e3459;
    color: white;
}

.follow_list {
    padding: 30px 0 0 45px;
}

.user_area {
    display: inline-block;
    width: 340px;
    height: 390px;
    margin: 0 0 40px 40px;
    border: 1px solid #f1f1f1;
    font-size: 10pt;
    color: black;
    text-align: center;
    background-color: white;
}

.user_area img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
}

.user_info {
    height: 123px;
}

.user_area>div>span {
    display: block;
    margin-top: 10px;
}

.user_area:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}

.user_area p {
    padding: 0 30px;
    height: 62px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.user_area p::-webkit-scrollbar {
    display: none !important;
}

.nic {
    font-size: 15pt;
    font-weight: bold;
}

.memo {
    color: gray;
    margin: 0 30px;
    padding-bottom: 10px;
    overflow: hidden;
    height: 10px;
}

hr {
    border: 1px solid black;
    width: 100px;
    margin: 0 auto;
    margin-top: 2px;
    border-top-width: 0px;
}
.follow_btn_area {
    width: 100%;
    height: 20px;
    padding-top: 30px;
    margin: auto;
}

.follow_btn_area input {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-size: 12pt;
    font-weight: bold;
    color: #2e3459;
    background-color: white; border : 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
    border: 2px solid #2e3459;
}

.follow_btn_area input:hover {
    background-color: #2e3459;
    color: white;
}

.more_btn {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.more_btn input {
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #2e3459;
    background-color: white;
    border: 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
}


#footer {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: #2e3459;
    color: #FFFFFF;
    font-size: 15px;
}

#footer p {
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 250px;
    width: 600px;
    height: 80px;
}

.popup {
    display:inline-block;
    width: 450px;
    height: 200px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 115px);
    left: calc(50% - 225px);
    z-index: 500;
    font-size: 12pt;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}

.popup_contents_txt {
    font-size: 11pt;
    font-weight: bold;
    width: 400px;
    height: 120px;
    margin: 30px auto 0 auto;
}

.popup_contents_txt>div>span {
    margin-top: 12px;
}

.popup_contents_txt>div:first-child {
    font-size: 18pt;
    padding-bottom: 7px;
    border-bottom: 2px solid #f37321;
    margin-bottom: 10px;
}

.popup_contents_txt div:first-child  span {
    float: right;
    font-size: 10pt;
}

.pop_name {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 390px;
}

.asterisk {
    color: red;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 2px;
}

.btn_list span {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 195px;
    height: 30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}

.btn_list span:first-child {
    border-radius: 0 0 0 10px;
}

.btn_list span:last-child {
    border-radius: 0 0 10px 0;
}

.btn_list span:hover, .alert_btn_list span:hover {
    background-color: #f37321;
    color: white;
}
#admin{
    display: none;
}
.bg {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
#yes, #no{
    cursor: pointer;
}
#upgradeBtn {
    padding: 4px 0px;
    background-color: white;
    border: 2px solid #2e3459;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    box-shadow: rgb(0 0 0 / 9%) 0 6px 9px 0;
    font-weight: bold;
}

#upgradeBtn:hover{
    color: white;
    background-color: #2e3459;
}
#point, #intro{
    font-size: 10pt;
}

.popup2 {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup_entity_txt2 {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
.btn_list2 a{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 120px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}
.btn_list2 a:first-child {
    border-radius: 0 0 0 10px;
}
.btn_list2 a:last-child {
    border-radius: 0 0 10px 0;
}
.btn_list2 a:hover {
    background-color: #f37321;
    color: white;
}
.bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
