body {
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    min-width: 1480px;
    background-color: #f9f9f9;
}
#wrap {
    width: 100%;
}
#header {
    width: 100%;
    height: 140px;
    background-color: #2e3459;
    position: relative;
    font-size: 0px;
}
.top {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
.site_name {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    color: #2e3459;
}
.logo_area {
    display: inline-block;
    width: calc(100% - 470px);
    height: 70px;
    background-color: #FFFFFF;
    text-indent: 40px;
}
.logo_photo {
    height: 35px;
    margin-top: 18px;
}
.btns {
    display: none;
    vertical-align: top;
    position:relative;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
#bookmarkPhoto, #notificationPhoto {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#notificationPhoto{
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}
#notificationTxt{
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 190px;
    border-radius: 50%;
    color: white;
}
#profilePhoto{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50%;
}
#notificationPhoto {
    margin-left: 200px;
}
.logins {
    display: inline-block;
    vertical-align: top;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
.sub_login1 {
    display: block;
    position: relative;
    width: 100%;
    height: 55px;
}
.sub_login2 {
    display: block;
    width: calc(100% - 75px);
    height: 15px;
    line-height: 10px;
    text-align: right;
    padding-right: 75px;
}
.sub_login2 span {
    position: relative;
    width: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.sub_login2 span:hover {
    color: #fcba03;
}
#inputID, #inputPW {
    float: right;
    width: 100px;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
}
#loginBtn {
    float: right;
    margin: 20px 20px 0px 5px;
    width: 50px;
    height: 30px;
    background-color: #2e3459;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}
#loginBtn:hover{
    color: #FFFFFF;
    background-color: #f37321;
}
input[type='text']:focus, input[type='password']:focus{
    outline-color: #fcba03;
}
.banner {
    width: 100%;
    height: 70px;
}
.menu {
    position: absolute;
    height: 70px;
    left: 20px;
}
.menu ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-right: 100px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}
.menu ul li:hover {
    color: #fcba03;
}
.menu ul li a {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: white;
}
#admin{
    display:none;
}
.search {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 250px;
    height: 29px;
}
.filter {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 100px;
    height: 35px;
}
.search_icon {
    float: right;
    margin: 17px 20px 13px 0px;
    width: 40px;
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0px auto;
    text-align: center;
}
#cityName{
    display: inline-block;
    width: 680px;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 30px;
}
#boardWrap{
    width: 600px;
    display: inline-block;
    vertical-align: top;
    font-size: 10pt;
}
#yearBoard, #monthBoard, #weekBoard{
    display: none;
    margin-top: 50px;
    background-color: white;
}
#noticeBoard{
    display: inline-block;
    margin-top: 50px;
    background-color: white;
}
#yearBoard table, #monthBoard table,
#weekBoard table, #noticeBoard table {
    border-collapse: collapse;
    border-bottom: 3px solid black;
}
#yearBoard table tbody tr:hover, #monthBoard table tbody tr:hover,
#weekBoard table tbody tr:hover, #noticeBoard table tbody tr:hover{
    background-color: #F9F9F9;
    cursor:pointer;
}
#yearBoard table tbody tr, #monthBoard table tbody tr,
#weekBoard table tbody tr, #noticeBoard table tbody tr {
    border-bottom: 1px solid #FAFAFA;
}
.title{
    font-size: 18pt;
    font-weight: bold;
    border-top: 3px solid black;
}
#mapWrap{
    width: 600px;
    display: inline;
}
svg{
    background: white;
    overflow:visible;
    height:1110px;
    width:600px;
    margin-left: 30px;
    background-color: #f9f9f9;
}
.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
#CD0 { /* 서울특별시 */
    fill: #f1c40f;
    cursor: pointer;
}
#CD1 {
    fill: #16a085;
    cursor: pointer;
}
#CD2 {
    fill: #f39c12;
    cursor: pointer;
}
#CD3 {
    fill: #2ecc71;
    cursor: pointer;
}
#CD4 {
    fill: #e67e22;
    cursor: pointer;
}
#CD5 {
    fill: #27ae60;
    cursor: pointer;
}
#CD6 {
    fill: #d35400;
    cursor: pointer;
}
#CD7 {
    fill: #3498db;
    cursor: pointer;
}
#CD8 {
    fill: #e74c3c;
    cursor: pointer;
}
#CD9 {
    fill: #2980b9;
    cursor: pointer;
}
#CD11 {
    fill: #c0392b;
    cursor: pointer;
}
#CD10 {
    fill: #9b59b6;
    cursor: pointer;
}
#CD12 {
    fill: #8e44ad;
    cursor: pointer;
}
#CD13 {
    fill: #34495e;
    cursor: pointer;
}
#CD14 {
    fill: #2c3e50;
    cursor: pointer;
}
#CD15 {
    fill: #1abc9c;
    cursor: pointer;
}
#CD16 {
    fill: #f1c40f;
    cursor: pointer;
}
.TEXT {
    fill: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
    cursor: pointer;
}
#footer {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #2e3459;
    color: #FFFFFF;
    font-size: 15px;
}
#footer p {
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 250px;
    width: 600px;
    height: 80px;
}
.space{
    height: 80px;
}
.popup {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
.btn_list a{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 120px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}
.btn_list a:first-child {
    border-radius: 0 0 0 10px;
}
.btn_list a:last-child {
    border-radius: 0 0 10px 0;
}
.btn_list a:hover {
    background-color: #f37321;
    color: white;
}
.bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
#cancelImg{
    margin-top: 10px;
    width: 30px;
    margin-left: 135px;
    cursor: pointer;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
.btns ul li {
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.btns>ul>li {
    margin-right: 10px;
}
#regionName{
    margin-top: 30px;
    font-size: 18pt;
    font-weight: bold;
}