body {
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    min-width: 1480px;
    background-color: #f9f9f9;
}
#wrap {
    width: 100%;
}
#notificationTxt{
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 190px;
    border-radius: 50%;
    color: white;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
#regionName{
    margin-top: 30px;
    font-size: 18pt;
    font-weight: bold;
}
#btn_pre{
    margin: 50px 70px 50px 0px;
}
#btn_pre, #btn_next{
    border-radius: 20px;
}
#btn_pre:hover{
    background-color: #F1404B;
}
#btnWrap{
    text-align: center;
}
.milestone{
    width: 650px;
    margin: 50px auto;
    position: relative;
    padding-left: 25px;
}
.milestone_title{
    width: 120px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    border: 3px solid #2e3459;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-top: 0px;
    background-color: #EAEAEA;
}
#milestone_on{
    color: white;
    background-color: #ff3333;
}
.arrow_img{
    display: inline-block;
    vertical-align: top;
}
.arrow_img img{
    width:30px;
    height: 50px;
}
input[type='button']{
    padding: 4px 0px;
    background-color: white;
    border: 2px solid #2e3459;
    height: 35px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    font-weight: bold;
}
input[type='button']:hover{
    color: white;
    background-color: #2e3459;
}
