/*  #fcba03 노랑
#2e3459 남색
#f37321 주황
#294a37 초록
*/

body {
    margin: 0px;
    font-size: 0px;
    font-family: 'Black Han Sans', sans-serif;
    min-width: 1480px;
    background-color: #f9f9f9;
}

/* 여기서부터 헤더 레이아웃 */
#wrap {
    width: 100%;
    height: 100%;
}
#header {
    width: 100%;
    height: 140px;
    background-color: #2e3459;
    position: relative;
}
.top {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
.site_name {
    display: inline-block;
    vertical-align: top;
    position: absolute; /* 추가하기 */
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    color: #2e3459;
}
.logo_area {
    display: inline-block;
    width: calc(100% - 470px);
    height: 70px;
    background-color: #FFFFFF;
    text-indent: 40px;
}
.logo_photo {
    height: 35px;
    margin-top: 18px;
}
.btns {
    display: none;
    vertical-align: top;
    position:relative;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
#bookmarkPhoto, #notificationPhoto {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#notificationPhoto{
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}
#notificationTxt{
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 190px;
    border-radius: 50%;
    color: white;
}
#profilePhoto{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50%;
}
#notificationPhoto {
    margin-left: 200px;
}
.logins {
    display: inline-block;
    vertical-align: top;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
.sub_login1 {
    display: block;
    position: relative;
    width: 100%;
    height: 55px;
}
.sub_login2 {
    display: block;
    width: calc(100% - 75px);
    height: 15px;
    line-height: 10px;
    text-align: right;
    padding-right: 75px;
}
.sub_login2 span {
    position: relative;
    width: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
}
.sub_login2 span:hover {
    color: #fcba03;
}
.login {
    float: right;
    width: 100px;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
}
.login_btn {
    float: right;
    margin: 20px 20px 0px 5px;
    width: 50px;
    height: 30px;
    background-color: #2e3459;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}
.login_btn:hover{
    background-color: #294a37;
}
#inputID, #inputPW {
    float: right;
    width: 100px;
    height: 25px;
    margin-top: 20px;
    margin-left: 5px;
}
#loginBtn {
    float: right;
    margin: 20px 20px 0px 5px;
    width: 50px;
    height: 30px;
    background-color: #2e3459;
    font-weight: bold;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 26px;
}
#loginBtn:hover{
    color: #FFFFFF;
    background-color: #f37321;
}
.popup {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
.btn_list a{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 120px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}
.btn_list a:first-child {
    border-radius: 0 0 0 10px;
}
.btn_list a:last-child {
    border-radius: 0 0 10px 0;
}
.btn_list a:hover {
    background-color: #f37321;
    color: white;
}
.bg {
    display: inline-block;
    width: 100%;
    height: 1552px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
#cancelImg{
    margin-top: 10px;
    width: 30px;
    margin-left: 135px;
    cursor: pointer;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
.btns ul li {
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.btns>ul>li {
    margin-right: 10px;
}
.banner {
    width: 100%;
    height: 70px;
}
.menu {
    position: absolute;
    height: 70px;
    left: 20px;
}
.menu ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-right: 100px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}
.menu ul li:hover {
    color: #fcba03;
}
.menu ul li a {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: white;
}
.search {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 250px;
    height: 29px;
}
.filter {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 100px;
    height: 35px;
}
.search_icon {
    float: right;
    margin: 17px 20px 13px 0px;
    width: 40px;
    cursor: pointer;
}
input[type='text']:focus, input[type='password']:focus, select:focus {
    outline-color: #fcba03;
}
#admin {
    display: none;
}
/* 여기까지 헤더 레이아웃 !!! */

#container {
    display: block;
    width: 1280px;
    margin: 0 auto;
    background-color: #f9f9f9;
}
.search_area {
    display: block;
    width: 1240px;
    margin: 0px auto;
    padding: 20px;
}
.sub_search {
    display: block;
    margin: 40px auto 5px auto;
    width: 482px; /* 476 */
    height: 40px;
    font-size: 15pt;
    font-weight: bold;
}
.search_filter {
    position: relative;
    top: -2px;
    left: 0px;
    width: 100px;
    height: 40px;
}
.search_txt {
    position: relative;
    top: -2px;
    width: 200px;
    height: 28px;
    padding: 5px;
    font-size: 10pt;
    border: 1px solid black;
}
.search_btn {
    width: 90px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 11pt;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #2E3459;
}
.search_btn:hover {
    background-color: #2e3459;
    color: #FFFFFF;
}



.line {
    width: 100%;
    height: 5px;
    margin: 30px auto 15px auto;
    border-bottom: 2px solid #2e3459;
}
.search_category {
    font-size: 18pt;
    font-weight: bold;
}
.search_category_cnt {
    font-size: 12pt;
    font-weight: 600;
    margin: 5px 0px 20px 0px;
}

/* 여기부터 여행게시판 css*/
.gallery {
    padding: 30px 0 0 45px;
    display: table;
}
.search_post {
    float: left;
    width: 340px;
    height: 390px;
    margin: 0 0 40px 40px;
    border: 1px solid #f1f1f1;
    font-size: 10pt;
    color: black;
    cursor: pointer;
}
.search_post:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
}
.thumb {
    height: 210px;
    display: block;
    position: relative;
}

.thumb img {
    width: 292px;
    height: 170px;
    margin: 23px;
}

.post_info {
    height: 110px;
    position: relative;
    display: inline-block;
    padding: 0 23px 0 23px;
}

.post_info p:first-child {
    margin-top: 0;
}

.post_info strong {
    font-size: 12pt;
}

.post_profile {
    position: absolute;
    width: 317px;
    height: 50px;
    margin: 10px 0 0 23px;
}

.post_profile img {
    width: 42px;
    height: 42px;
}

.post_profile>span {
    position: absolute;
    line-height: 42px;
    margin-left: 8px;
}

.post_profile>div {
    float: right;
    margin-top: 5px;
}

.post_profile>div>span {
    float: right;
    margin-right: 23px;
}

.post_profile>div>div {
    margin-right: 23px;
}

.post_profile>div span {
    margin-top: 5px;
}

.post_profile>div>div .cnt {
    color: #F1404B;
}
/* 여기까지 여행게시판 css*/


.more_entity {
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    background-color: #2e3459;
    margin: 50px 0px 50px 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.more_entity:hover {
    background-color: #294a37;
}



table {
    border-collapse: collapse;
}
/* 여행꿀팁 */
.td_t {
    color: #8000ff;
}
/* QnA */
.td_q {
    color: #4d94ff;
}
/* 잡담 */
.td_c {
    color: #00592d;
}
caption {
    display: none;
}
.board_list {
    width: 100%;
    border-top: 1px solid #2e3459;
    margin-top: 30px;
}
.board_list_off {
    width: 100%;
    border-top: 2px solid #2e3459;
    margin-top: 30px;
    display: none;
}
.board_list tr {
    border-bottom: 1px solid #ccc;
    background-color: #FFFFFF;
}
.board_list th,
.board_list td{
    padding: 10px;
    font-size: 12pt;
}
.board_list td{
    text-align: center;
}
.board_list tbody tr {
    background-color: #f9f9f9;
    cursor: pointer;
}
.board_list tbody tr:hover {
    background-color: #FFFFFF;
}
.board_list tbody tr td:nth-child(2) {
    font-weight:550;
}
.board_list tbody tr td:nth-child(3) {
    text-align: left;
}
.board_list tbody tr td:nth-child(3):hover {
    text-decoration: underline;
}
.board_list > tbody >.notice_board {
    font-weight: 550;
    background: #faf9f7;
}
.board_list > tbody >.notice_board >td:nth-child(2) {
    color: red;
}
.board_list > tbody >.notice_board >td>span {
    padding:5px 10px;
    border-radius:5px;
    background-color: #2e3459;
    color: white;
}
.board_list_wrap .paging {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12pt;
}
.board_list_wrap .paging a.paging_btn {
    background-color: none;
    color: #2e3459;
    letter-spacing:-5px;
    font-size: 15pt;
    font-weight: bold;
}
.board_list_wrap .paging a.num {
    border: 1px solid #2e3459;
    background-color: #2e3459;
    color: white;
    font-weight: bold;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}
.board_list_wrap .paging a.num:hover {
    border-color:#fcba03;
    background-color: #fcba03;
    color: #2e3459;
}
.board_list_wrap .paging a.paging_btn:hover {
    color: #fcba03;
}
.board_list_wrap .paging a.num.on {
    border-color:#fcba03;
    background-color: #fcba03;
    color: #2e3459;
}
.board_title {
    text-align: left;
    text-decoration: none;
}


.search_nic {
    width: 520px;
    margin: 0px auto;
}
.search_nic_off {
    width: 520px;
    margin: 0px auto;
    display: none;
}
.search_nic table {
    border-collapse: collapse;
}
.article {
    color: #000000;
    height: 40px;
    border-top: 2px solid #2e3459;
    border-bottom: 1px solid #ccc;
}
.article th {
    padding: 0px 17px;
    font-size: 12pt;
    font-weight: 600;
    background-color: #FFFFFF;
}
.click_article {
    cursor: pointer;
}
.click_article:hover {
    color: #fcba03;
}
.search_nic table > tbody > tr{
    border-bottom: 1px solid #ccc;
    height: 40px;
    text-align: center;
    background-color: #f9f9f9;
}
.search_nic table > tbody > tr > td {
    font-size: 10pt;
    font-weight: 300;
}
.nic {
    cursor: pointer;
}
.nic:hover {
    background-color: #FFFFFF;
}.popup {
     display: inline-block;
     width: 300px;
     height: 150px;
     background-color: #fcfcfc;
     box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
     position: fixed;
     top: calc(50% - 75px);
     left: calc(50% - 150px);
     z-index: 500;
     border-radius: 10px;
     font-size: 0px;
     border: 0px;
 }
.popup_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
.btn_list a{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 120px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}
.btn_list a:first-child {
    border-radius: 0 0 0 10px;
}
.btn_list a:last-child {
    border-radius: 0 0 10px 0;
}
.btn_list a:hover {
    background-color: #f37321;
    color: white;
}
.bg {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
#cancelImg{
    margin-top: 10px;
    width: 30px;
    margin-left: 135px;
    cursor: pointer;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}



#footer {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #2e3459;
    color: #FFFFFF;
    font-size: 15px;
}
#footer p {
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 250px;
    width: 600px;
    height: 80px;

}
