html{
    eight: 100%;
}
body{
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    min-width: 1480px;
    height: 100%;
}
#wrap{
    width: 100%;
    height: calc(100% - 0px);
    overflow-y: auto;
}
#container{
    width: 1280px;
    margin: 0px auto;
}
.join{
    text-align: center;
    width: 650px;
    font-size: 18pt;
    font-weight: bold;
    margin: 50px auto 10px auto;
}
#infoWrap{
    width: 650px;
    margin: 80px auto 20px auto;
    padding: 10px 50px 30px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type='text'], input[type='password']{
    margin-top: 15px;
    height: 30px;
}
#btn_pre, #btn_next, #btn_id_db_chk, #btn_confirm,
#btn_re_send, #btn_code {
    padding: 4px 0px;
    background-color: white;
    border: 2px solid #2e3459;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    font-weight: bold;
}
input[type='button']:hover{
    color: white;
    background-color: #2e3459;
}
input[type='text']:focus, input[type='password']:focus,
select:focus{
    outline-color: #fcba03;
}
#sel_year, #sel_month, #sel_day{
    width: 165px;
}
#radioWrap {
    display: inline-flex;
    align-items: center;
}
#radioWrap{
    width: 650px;
    margin: 10px auto;
}
label{
    font-size: 12pt;
    font-weight: bold;
}
#inp_id{
    width: 400px;
}
#inp_pw, #inp_re_pw{
    width: 498px;
}
select{
    height: 36px;
}
.title{
    font-weight: bold;
    margin-top: 15px;
    font-size: 14pt;
}
#inp_email, #inp_domain{
    width: 140px;
}
#txtAt{
    font-weight: bold;
    font-size: 12pt;
}
#inp_phone{
    width: 434px;
}
#sel_domain{
    width: 80px;
}
#codeWrap{
    width: 650px;
    margin: 0px auto;
    display: none;
}
#inp_code{
    margin-top: 20px;
    width: 305px;
}
#sel_keyword{
    width: 506px;
    margin-top: 15px;
}
#inp_keyword, #inp_name{
    width: 498px;
}
#inp_keyword{
    margin-top: 20px;
}
