.terms{
    text-align: center;
    width: 650px;
    font-size: 18pt;
    font-weight: bold;
    margin: 50px auto 10px auto;
}
#termsWrap{
    width: 650px;
    margin: 80px auto 20px auto;
    padding: 20px 50px 30px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}
.material-icons{
    font-weight: bold;
}
.task{
    margin-top: 40px;
}
.long{
    font-family:monospace;
    margin: 20px auto 0px auto;
    width:550px;
    height: 300px;
    overflow: scroll;
    box-shadow: 1px 1px 1px 1px gray;
}
.title{
    color:blue;
    text-align:center;
    font-weight: bold;
}
.sub_title{
    color:gray;
    font-weight: bold;
}
.text, .text1{
    font-size: 12pt;
    font-weight: bold;
    margin-top: 15px;
}
.text1{
    width: 650px;
    margin: 0px auto;
}
input[type='checkbox']{
    margin-left: 10px;
}
.term{
    text-decoration: underline;
    font-weight: bold;
}
