html{
    eight: 100%;
}
body{
    margin: 0px;
    font-family: 'Black Han Sans', sans-serif;
    min-width: 1480px;
    height: 100%;
}
#wrap{
    width: 100%;
    height: calc(100% - 0px);
    overflow-y: auto;
}
#header {
    width: 100%;
    height: 140px;
    background-color: #2e3459;
    position: relative;
    font-size: 0px;
}
.top {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
}
.site_name {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    color: #2e3459;
}
.logo_area {
    display: inline-block;
    width: calc(100% - 470px);
    height: 70px;
    background-color: #FFFFFF;
    text-indent: 40px;
}
.logo_photo {
    height: 35px;
    margin-top: 18px;
}
.banner {
    width: 100%;
    height: 70px;
}
.menu {
    position: absolute;
    height: 70px;
    left: 20px;
}
.menu ul li {
    list-style: none;
    float: left;
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-right: 100px;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;
}
.menu ul li:hover {
    color: #fcba03;
}
.menu ul li a {
    display: inline-block;
    height: 30px;
    text-decoration: none;
    color: white;
}
.search_icon {
    float: right;
    margin: 17px 20px 13px 0px;
    width: 40px;
    cursor: pointer;
}
#container{
    width: 1280px;
    margin: 0px auto;
}
.profile{
    text-align: center;
    width: 650px;
    font-size: 18pt;
    font-weight: bold;
    margin: 50px auto 10px auto;
}
#infoWrap{
    width: 650px;
    margin: 80px auto 20px auto;
    padding: 10px 50px 30px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}
#att{
    display:none;
}
#photoArea{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px thin rgb(242, 242, 242, 0.6);
    margin-left: 200px;
}
#photo{
    width: 140px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
#findPhotoBtn{
    margin: 20px 0px 0px 232px;
}
.title{
    font-weight: bold;
    margin-top: 15px;
    font-size: 14pt;
}
#inputNic{
    width: 400px;
    margin-top: 15px;
    height: 30px;
}
#inputIntro{
    width: 498px;
    margin-top: 15px;
    height: 300px;
}
input[type='text']:focus, #inputIntro:hover{
    outline-color: #fcba03;
}
input[type='button']{
    padding: 4px 0px;
    background-color: white;
    border: 2px solid #2e3459;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
    width: 80px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    font-weight: bold;
}
input[type='button']:hover{
    color: white;
    background-color: #2e3459;
}
#btnWrap{
    text-align: center;
}
#preBtn{
    margin: 50px 70px 50px 0px;
}
#preBtn:hover{
    background-color: #F1404B;
}
#footer {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #2e3459;
    color: #FFFFFF;
    font-size: 15px;
}
#footer p {
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 250px;
    width: 600px;
    height: 80px;
}
.search {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 250px;
    height: 29px;
}
.filter {
    float: right;
    margin: 20px 20px 20px 0px;
    width: 100px;
    height: 35px;
}
.popup {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 10px 10px;
    cursor:pointer;
}
#yesBtn:hover {
    background-color: #f37321;
    color: white;
}
.bg {
    display: inline-block;
    width: 100%;
    height: 1434px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
.btns {
    display: inline-block;
    vertical-align: top;
    position:relative;
    width: 470px;
    height: 70px;
    text-align: right;
    background-color: #FFFFFF;
}
#bookmarkPhoto, #notificationPhoto {
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#notificationPhoto{
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    position: relative;
}
#notificationTxt{
    line-height: 17px;
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 10px;
    right: 190px;
    border-radius: 50%;
    color: white;
}
#profilePhoto{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 50%;
}
#notificationPhoto {
    margin-left: 200px;
}
#profileSlidedown{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    border: 2px solid #fcba03;
    background-color: white;
    position: absolute;
    padding: 0px;
    right: 8px;
    width: 122px;
    margin-top: 10px;
}
#profileSlidedown li {
    display: inline-block;
    border: 1px solid rgb(250,250,250);
    font-size: 12pt;
    width: 120px;
    text-align: center;
    cursor: pointer;
}
#profileSlidedown li:hover {
    background-color: #f37321;
}
#editProfile{
    background-color: #f37321;
}
.btns ul li {
    list-style: none;
    float: left;
    text-align: center;
    color: #2e3459;
    line-height: 25px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.btns>ul>li {
    margin-right: 10px;
}
#notification{
    display:none;
    width: 600px;
    box-shadow: 0px 0px 1px 1px #444444;
    position: absolute;
    right: 10px;
    z-index: 300;
    font-size: 10pt;
}
.read{
    background-color: #d1d1e0;
    height: 50px;
    border-bottom: 1px solid black;
}
.notRead{
    background-color: #a3a3c2;
    height: 50px;
    border-bottom: 1px solid black;
}
#notification table{
    border-collapse: collapse;
}

#notification table tr th:first-child{
    text-align: center;
}

#notification tr th{
    text-align: left;
}

#notification tr th img{
    height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 50%;
}

#notification tfoot tr{
    background-color: #48486a;
    color: white;
}

#notification tfoot tr th{
    text-align: center;
    cursor: pointer;
}

#notification tfoot tr th:hover{
    background-color: #a4a4c1;
}

#notification table tr th span{
    text-decoration: underline;
    cursor: pointer;
}

#notification table tr th span:hover{
    color: blue;
}
#admin{
    display:none;
}