html{
    eight: 100%;
}
#container{
    width: 1280px;
    margin: 0px auto;
}
.profile{
    text-align: center;
    width: 650px;
    font-size: 18pt;
    font-weight: bold;
    margin: 50px auto 10px auto;
}
#infoWrap{
    width: 650px;
    margin: 80px auto 20px auto;
    padding: 10px 50px 30px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}
#att{
    display:none;
}
#photoArea{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px thin rgb(242, 242, 242, 0.6);
    margin-left: 200px;
}
#photo{
    width: 140px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}
#btn_find_photo{
    margin: 20px 0px 0px 232px;
}
.title{
    font-weight: bold;
    margin-top: 15px;
    font-size: 14pt;
}
#inp_nic{
    width: 400px;
    margin-top: 15px;
    height: 30px;
}
#inp_intro{
    width: 498px;
    margin-top: 15px;
    height: 300px;
}
input[type='text']:focus, #inputIntro:hover{
    outline-color: #fcba03;
}
#btn_find_photo, #btn_nic_db_chk{
    border-radius: 20px;
}
