#container{
    width: 1280px;
    margin: 0px auto;
}
.findID{
    text-align: center;
    width: 650px;
    font-size: 18pt;
    font-weight: bold;
    margin: 50px auto 10px auto;
}
#infoWrap{
    width: 650px;
    margin: 80px auto 20px auto;
    padding: 10px 50px 30px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type='text']{
    margin-top: 15px;
    height: 30px;
}
input[type='text']:focus, input[type='password']:focus,
select:focus{
    outline-color: #fcba03;
}
select{
    height: 36px;
}
.title{
    font-weight: bold;
    margin-top: 15px;
    font-size: 14pt;
}
#inp_email, #inp_domain{
    width: 180px;
}
#txtAt{
    font-weight: bold;
    font-size: 12pt;
}
#sel_domain{
    width: 100px;
}
#sel_keyword{
    width: 506px;
    margin-top: 15px;
}
#inp_keyword, #inp_name, #inp_id{
    width: 498px;
}
#inp_keyword{
    margin-top: 20px;
}
#btnWrap{
    text-align: center;
}
#btn_pre{
    margin: 50px 70px 50px 0px;
}
#btn_pre:hover{
    background-color: #F1404B;
}