#container{
    width: 1280px;
    margin: 0px auto;
    text-align: center;
}
#cityName{
    display: inline-block;
    width: 680px;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    margin-top: 30px;
}
#boardWrap{
    width: 600px;
    display: inline-block;
    vertical-align: top;
    font-size: 10pt;
}
#yearBoard, #monthBoard, #weekBoard{
    display: none;
    margin-top: 50px;
    background-color: white;
}
#noticeBoard{
    display: inline-block;
    margin-top: 50px;
    background-color: white;
}
#yearBoard table, #monthBoard table,
#weekBoard table, #noticeBoard table {
    border-collapse: collapse;
    border-bottom: 3px solid black;
}
#yearBoard table tbody tr:hover, #monthBoard table tbody tr:hover,
#weekBoard table tbody tr:hover, #noticeBoard table tbody tr:hover{
    background-color: #F9F9F9;
    cursor:pointer;
}
#yearBoard table tbody tr, #monthBoard table tbody tr,
#weekBoard table tbody tr, #noticeBoard table tbody tr {
    border-bottom: 1px solid #FAFAFA;
}
.title{
    font-size: 18pt;
    font-weight: bold;
    border-top: 3px solid black;
}
#mapWrap{
    width: 600px;
    display: inline;
}
svg{
    background: white;
    overflow:visible;
    height:1110px;
    width:600px;
    margin-left: 30px;
    background-color: #f9f9f9;
}
.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
#CD0 { /* 서울특별시 */
    fill: #f1c40f;
    cursor: pointer;
}
#CD1 {
    fill: #16a085;
    cursor: pointer;
}
#CD2 {
    fill: #f39c12;
    cursor: pointer;
}
#CD3 {
    fill: #2ecc71;
    cursor: pointer;
}
#CD4 {
    fill: #e67e22;
    cursor: pointer;
}
#CD5 {
    fill: #27ae60;
    cursor: pointer;
}
#CD6 {
    fill: #d35400;
    cursor: pointer;
}
#CD7 {
    fill: #3498db;
    cursor: pointer;
}
#CD8 {
    fill: #e74c3c;
    cursor: pointer;
}
#CD9 {
    fill: #2980b9;
    cursor: pointer;
}
#CD11 {
    fill: #c0392b;
    cursor: pointer;
}
#CD10 {
    fill: #9b59b6;
    cursor: pointer;
}
#CD12 {
    fill: #8e44ad;
    cursor: pointer;
}
#CD13 {
    fill: #34495e;
    cursor: pointer;
}
#CD14 {
    fill: #2c3e50;
    cursor: pointer;
}
#CD15 {
    fill: #1abc9c;
    cursor: pointer;
}
#CD16 {
    fill: #f1c40f;
    cursor: pointer;
}
.TEXT {
    fill: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
    cursor: pointer;
}
.space{
    height: 80px;
}

