/*
    #fcba03 노랑
    #2e3459 남색
    #f37321 주황
    #2e3459 초록
 */

#container {
    display: inline-block;
    width: 1000px;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
#path_info {
    height: 35px;
    font-size: 10pt;
    padding-top: 10px;
    padding-left: 20px;
}
.home_icon {
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
}
.title_area {
    width: 1280px;
    height: 110px;
    color: black;
    font-size: 18pt;
    margin: auto;
    margin-top: 30px;
    border-bottom: 2px solid #2e3459;
}
.title_area strong {
    padding-left: 30px;
}
.title_left span {
    font-size: 10pt;
}
.title_area span:nth-child(2n) {
    margin: 10px 15px 0 5px;
    color: #f37321;
}
.title_left, .title_right {
    display: inline-block;
}
.title_right {
    float: right;
    margin-top: 75px;
    font-weight: bold;
    margin-right: 10px;
    font-size: 12pt;
}
.report_btn {
    cursor: pointer;
}
.text_area {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    color: black;
    font-size: 12pt;
    padding: 20px;
}
p {
    padding-right: 40px;
}
.category_area {
    width: 1280px;
    height: 50px;
    line-height: 50px;
    font-size: 12pt;
    border-radius: 10px;
    background-color: #ffd666;
    margin-bottom: 10px;
}
.category_label {
    display: inline-block;
    width: 80px;
    height: 50px;
    font-weight: bold;
    padding-left: 10px;
    color: black;
    border-right: 1px solid #fcba03;
}
.category_txt {
    display: inline-block;
    position: absolute;
    width: 1200px;
    height: 50px;
    padding-left: 40px;
    color: black;
}
.sub_profile {
    width: 1280px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid #2e3459;
}
.profile_info {
    width: 1280px;
    height: 150px;
    padding-top: 50px;
}
.profile_info>div {
    width: 50%;
    float: left;
}
.profile_info img {
    margin-left: 450px;
    width: 120px;
    border-radius: 50%;
}
.info {
    width: 50%;
    position: relative;
    font-weight: bold;
    margin-top: 5px;
}
.info img {
    width: 25px;
    margin-left: 0;
}
.info span {
    font-size: 18pt;
}
.grade {
    margin-top: 15px;
    font-size: 12pt;
}
.grade span, .cnt span {
    font-size: 15pt;
}
.cnt {
    margin-top: 7px;
}
.cnt span {
    margin-right: 20px;
}
.follow_btn_area {
    width: 1100px;
    height: 90px;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    margin: auto;
}
.follow_btn_area input {
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    font-size: 12pt;
    font-weight: bold;
    color: #2e3459;
    background-color: white;
    border: 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
    border: 2px solid #2e3459;
}
.follow_btn_area input:hover {
    background-color: #2e3459;
    color: white;
}
.post_bottom {
    width: 1280px;
    height: 100%;
    margin-top: 30px;
    font-size: 12pt;
    color: black;
}
.btn_list {
    display: block;
    height: 70px;
    text-align: center;
}
.btn_list input {
    display: inline-block;
}
.edit_btn, .del_btn, .reset_btn{
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #2e3459;
    background-color: white;
    border: 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
}
#cmtEditBtn, #cmtCancelBtn, #replyEditBtn {
    display: none;
}
.reply_edit_btn {
    margin: 0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #2e3459;
    background-color: white;
    border: 2px solid #2e3459;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    cursor: pointer;
}
.edit_btn {
    margin-right: 60px;
}
.edit_btn:hover, .reply_edit_btn:hover {
    border: 2px solid #2e3459;
    background-color: #2e3459;
    color: white;
}
.del_btn:hover, .reset_btn:hover{
    border: 2px solid #F1404B;
    background-color: #F1404B;
    color: white;
}
.reaction {
    width: 1280px;
    height: 100px;
    border-top: 1px solid #ccc;
    padding-top: 50px;
}
.reaction ul {
    text-align: center;
    padding: 0;
}
.reaction ul li {
    list-style: none;
    display: inline-block;
    color: #2e3459;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.reaction ul li:hover img {
    background-color: #f37321;
}
.reaction img {
    height: 39px;
    background-color: #2e3459;
    border-radius: 100px;
    padding: 5px;
}
.cmt_area {
    width: 1280px;
    height: 100%;
    margin-top: 50px;
}
.cmt_top {
    width: 1280px;
    height: 30px;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid #ccc;
}
.cmt_top span:nth-child(2) {
    color: orange;
}
.cmt_bottom {
    width: 1280px;
    height: 150px;
}
.cmt_bottom textarea {
    width: 1260px;
    padding: 5px;
    resize: none;
}
.cmt_contents_right .cmt_bottom textarea, reply {
    width: 1140px;
    padding: 5px;
    resize: none;
    height: 60px;
}
.cmt_contents_right>span {
    cursor: auto;
}
.reply {
    height: 85px;
}
.cmt_bottom input {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}
.cmt_list {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.cmt_list>div:last-child {
    margin-bottom: 30px;
}
.cmt_contents {
    width: 1260px;
    height: 130px;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.cmt_cmt_contents {
    width: 1220px;
    height: 130px;
    padding: 20px 0 0 40px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f2f0;
}
.cmt_cmt_contents>div>div {
    width: 1150px;
}
.cmt_contents_left {
    display: inline-block;
    width: 50px;
    height: 150px;
    padding-left: 10px;
}
.cmt_contents_left img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cmt_contents_right {
    display: inline-block;
    position: absolute;
    width: 1190px;
    height: auto;
    overflow: hidden;
    padding: 0 10px;
    font-size: 10pt;
    color: black;
}
.cmt_txt {
    overflow:hidden;
    height:auto;
}
.cmt_contents_right span {
    height: auto;
    line-height: 30px;
}
.cmt_box span:nth-child(2n) {
    float: right;
    margin-right: 10px;
}
.cmt_contents_right span img {
    width: 20px;
    height: 20px;
}
.cmt_box span:hover, .title_right:hover {
    color: #f37321;
}
.cmt_date {
    float: right;
}
.cmt_cmt_date {
    float: right;
    margin-right: 50px;
}
.popup_contents_txt {
    font-size: 11pt;
    font-weight: bold;
    width: 540px;
    height: 370px;
    margin: 30px auto 0 auto;
}
.popup_contents_txt>div>span {
    margin-top: 12px;
}
.popup_contents_txt div:first-child span {
    float: right;
    font-size: 10pt;
}
.popup_contents_txt>div:first-child {
    font-size: 18pt;
    padding-bottom: 7px;
    border-bottom: 2px solid #f37321;
}
.popup_contents_txt>div:first-child {
    font-size: 18pt;
    padding-bottom: 7px;
    border-bottom: 2px solid #f37321;
}
.radio_title {
    margin-top: 10px;
}
.radio_title p {
    color: black;
    font-size: 10pt;
    font-weight: normal;
    margin-top: 5px;
    padding-left: 5px;
}
.report_radio {
    margin: 15px 0;
    background-color: #cccccc33;
    border-radius: 20px;
    padding: 15px 0;
}
.report_radio_box {
    padding: 0 10px 5px 10px;
    margin: 0 20px;
}
input[type='radio'], input[type='radio']:checked {
    appearance: none;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    margin-right: 0.1rem;
    cursor: pointer;
}
input[type="radio"] {
    background-color: white;
    border: 2px solid #f37321;
}
input[type="radio"] + label {
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: #f37321;
}
.popup_contents_txt div:first-child  span {
    float: right;
    font-size: 10pt;
}
.pop_memo {
    resize: none;
    margin-top: 10px;
    width: 530px;
}
.popup_btn_list span {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 270px;
    height: 30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}
.popup_btn_list span:first-child {
    border-radius: 0 0 0 10px;
}
.popup_btn_list span:last-child {
    border-radius: 0 0 10px 0;
}
.popup_btn_list span:hover, .alert_btn_list span:hover, .alert_btn_list2 span:hover
{
    background-color: #f37321;
    color: white;
}
.asterisk {
    color: red;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 2px;
}
.bg {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000000;
    z-index: 400;
    opacity: 0.2;
}
.popup1 {
    display: inline-block;
    width: 300px;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
    position: fixed;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    z-index: 500;
    border-radius: 10px;
    font-size: 0px;
    border: 0px;
}
.popup1_entity_txt {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 265px;
    height:40px;
    margin: 30px auto 30px auto;
}
#yesBtn, .submit_btn, .close_btn{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 270px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
    cursor: pointer;
}
#yesBtn {
    border-radius: 0 0 10px 10px;
}
.submit_btn{
    border-radius: 0 0 0 10px;
}
.close_btn{
    border-radius: 0 0 10px 0;
}
#yesBtn:hover, .submit_btn:hover, .close_btn:hover {
    background-color: #f37321;
    color: white;
}
.btn1_list a{
    text-decoration: none;
    display:inline-block;
    text-align:center;
    width: 120px;
    height:30px;
    padding: 10px 15px 10px 15px;
    font-size: 12pt;
    color: #f37321;
    font-weight: bold;
    line-height: 30px;
}
.btn1_list a:first-child {
    border-radius: 0 0 0 10px;
}
.btn1_list a:last-child {
    border-radius: 0 0 10px 0;
}
.btn1_list a:hover {
    background-color: #f37321;
    color: white;
}
.paging {
    font-size: 0;
    text-align: center;
    margin: 40px 0px 60px 0px;
}
.paging div {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
}
.paging_btn {
    background-color: none;
    color: #2e3459;
    letter-spacing:-5px;
    font-size: 12pt;
}
.paging div.num {
    color: #2e3459;
}
.paging div:first-child {
    margin-left: 0;
}
.paging div.num:hover,
.paging div.num.on,
.paging div.paging_btn:hover  {
    color: #F1404B;
    text-decoration: underline;
    cursor: pointer;
}
.add_cmt_cmt {
    cursor: pointer;
}
.report_btn {
    cursor: pointer;
}
.cmt_edit_btn {
    cursor: pointer;
}
.cmt_delete_btn {
    cursor: pointer;
}
.cmt_cmt_edit_btn {
    cursor: pointer;
}
.cmt_cmt_delete_btn {
    cursor: pointer;
}